<!doctype html>
<html>
<head>
<meta content="Albany High School Freshman Renewal Debates judging app" name="description">
<meta content="" itemprop="image">
<title>Freshman Debates</title>
</head>
<body>
<ul>
    <li><a href="/Judge">Judging</a>
    <li><a href="/SplashPage">Splash Page</a>
    <li><a href="/Teacher">Teachers</a>
    <li><a href="/TeacherSelector">Teacher Selector</a>
    <li><a href="/TeamCreate">Create a Team</a>
    <li><a href="/DebateSelector">Select a Debate</a>
    <li><a href="/post/scoring_upload">Post a Score</a>
    <li><a href="/NewUserLogIn">New User Login</a>
    <li><a href="/ExcelUpload">Excel Upload</a>
    <!-- <li><a href="/AddStudentsToDataBase2014">Add Students</a> -->
    <!--
    <li><h3>Google Login URLs</h3>
    <ul>
        <li><a href="">Social Auth</a>
        <li><a href="/logout/">Logout</a>
        <li><a href="/google/login/">Login</a>
        <li><a href="/google/login-complete/">Complete Login</a>
        <li><a href="/google/logout/">Logout</a>
    </ul>
    -->
</ul>
