<html>
<link rel="stylesheet" type="text/css" href="{{STATIC_URL}}DebateSite.css">
<body>
	<div class="Banner">
		Albany High School Freshmen Debates
	</div>

	<br>
	<br>
	<br>
	<br>
	<br>
	<br>

	<div id="DebateForm">
		<form>
			Debate Topic:      <input type="text" name="DebateTopic">
			<br>
			<input type="radio" name="Side" value="Affirmative">Affirmative
			<input type="radio" name="Side" value="Negative">Negative
			<br>
			Team Number:       <input type="number" name="TeamNumber">
			<br>
			Team Name:         <input type="text" name="TeamName">
			<br>
			Slideshow Speaker: <input type="name" name="SlideshowSpeaker">
			<br>
			First Speaker:     <input type="name" name="Speaker1">
			<br>
			Second Speaker:    <input type="name" name="Speaker2">
			<br>
			Cross Examiner:    <input type="name" name="CrossExamination">
			<br>
			Rebutter:          <input type="name" name="Rebuttal">
			<br>
		</form>
	</div>

</body>
</html>
